#calc {
	padding: 1%;
    border-width: 4px;
    border-color: black;
    border-radius: 15px;
    background: #353535;
    border-style: solid;
    margin: 10%;
	text-align: center;
}

#inp {
	resize: vertical;
	width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
	height:10vh;
	color: lime;
	background: gray;
	border: solid black;
    border-radius: 12px;
	font-size: 15px;
	max-height: 250px;
    min-height: 30px;
}

button {
	font-size: calc(100% - 3.5px)
}

#error {
	color: #ff0000;
    background: #ff000035;
    border: red 4px solid;
    padding: 3px;
}

.memU {
	display: inline-block;
    border: black 1.5px solid;
    margin: 2px;
    background: linear-gradient(236deg, black, #4b4b4b);
    color: darkgray;
    padding: 1px 3px;
}

#mem {
	background: linear-gradient(135deg, black, #444444);
    border: 3px black solid;
}


#gropt {
	background: linear-gradient(254deg, #000000, #AAAAAA);
    border: 3px black solid;
	grid-template-columns: repeat( auto-fill, minmax(200px, 1fr) );
}

#tbopt {
	background: linear-gradient(129deg, #222222, #888888);
    border: 3px black solid;
	grid-template-columns: repeat( auto-fill, minmax(90px, 1fr) );
}

.tbob {
	background: linear-gradient(45deg, #555555, #AAAAAA);
    color: black;
}

#table {
	border: 3px black solid;
    background: linear-gradient(45deg, #444444, #111111);
	border-collapse: collapse;
	table-layout: fixed;
	display: flex;
    justify-content: space-between;
}

tr {
	border-bottom: 1px solid black;
	display: flex;
}

td:hover, td:focus {
    color: lime;
    background: #00000033;
    height: auto;
}
td {
    border-right: 1px solid black;
    flex-grow: 1;
    width: 1px;
    height: 1em;
    overflow: hidden;
}

#his {
	background: linear-gradient(135deg, #222222, #666666);
    border: 3px black solid;
}

.hisU {
	display: inline-block;
    border: black 1.5px solid;
    margin: 2px;
    background: linear-gradient(236deg, #33333300, #777777);
    padding: 1px 3px;
}

#var {
	background: linear-gradient(308deg, #555555, #999999);
    border: 3px black solid;
}

#canva {
    border: 2px solid black;
    background: darkcyan;
}

.varU {
	display: inline-block;
    border: black 1.5px solid;
    margin: 2px;
    background: linear-gradient(285deg, #333333, #aaaaaa);
    padding: 1px 3px;
}

#btnTCont {
	display: grid;
	grid-template-columns: repeat( auto-fill, minmax(100px, 1fr) );
}
.adj {
	display: grid;
}
.btnGroup {
	background: linear-gradient(45deg, #111111, #cccccc00);
    color: #c3c3c3;
}

#btnBCont {
	display: grid;
	grid-template-columns: repeat( auto-fill, minmax(75px, 1fr) );
}

.bbtn {
	background: linear-gradient(322deg, gray, transparent);
}

#btnFCont {
	grid-template-columns: repeat(auto-fill, auto);
}

.btn {
	background: linear-gradient(202deg, #444444, #00000066);
}